@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
    <ul>
    <li>
    DO IT
    </li>
    <li>
    on second thought...
    </li>
    </ul>
    </p>
</div>
